;-------------------------------------------------
;HTMLタグ関数
;-------------------------------------------------

@HTML_SPACE(ARG)
#FUNCTIONS
RETURNF @"<shape type='space' param='{50*ARG}'>"

@HTML_BUTTON(ARGS, ARG, digit=1)
#FUNCTIONS
#DIM DYNAMIC digit
digit = MAX(digit, STRLENS(@"{ARG}"))
RETURNF @"<button value='{ARG}'>" + @"[{ARG, digit}]"+ HTML_SPACE(1) + ARGS + "</button>"

@HTML_COLOR(ARGS, ARGS:1)
#FUNCTIONS
RETURNF @"<font color='#%ARGS:1%'>" + ARGS + "</font>"