
@뉴탄막상태창
SIF !TB_축척
    TB_축척 = 5
DRAWLINE
ALIGNMENT CENTER
CALL TBS거리표시
ALIGNMENT LEFT
IF TB_축척 < 5
    CALL TBS위치관계표시(T_위치:MASTER:0 - (20 * TB_축척), T_위치:MASTER:1 - (20 * TB_축척), T_위치:MASTER:0 + (20 * TB_축척), T_위치:MASTER:1 + (20 * TB_축척), TB_축척)
ELSE
    CALL TBS위치관계표시(0, 0, TB_위치값한계/TB_축척, TB_위치값한계/TB_축척, TB_축척) ; 축척 5 기준 200 * 200 -> 40 * 40 정도가 됨, 이거보다 크면 한 화면에 안보이니 맵 전체 볼땐 5 이하로 두면 안될것...
ENDIF
DRAWLINE

ALIGNMENT LEFT

@BASEPERCENT(ARG,ARGS)
#FUNCTION
#DIM DYNAMIC 백분율
IF ARGS == "체력"
    백분율 = (TCVAR:ARG:T_체력 * 100)/TCVAR:ARG:T_최대체력
ELSEIF ARGS == "TSP"
    IF MAXBASE:ARG:마력 > 0
        백분율 = (BASE:ARG:마력 * 100)/MAXBASE:ARG:마력
    ELSE
        백분율 = 0
    ENDIF
ENDIF
RETURNF 백분율

@뉴탄막체력BAR(ARG)
#DIM 백분율
#DIM 체력
#DIM 최대체력
;ARG = 대상
VARSET RESULTS
백분율 = BASEPERCENT(ARG,"체력")
;색깔 선정
SELECTCASE 백분율
CASE IS >= 70
    LOCALS = 19FF19
CASE IS >= 50
    LOCALS = FF8000
CASE IS >= 30
    LOCALS = FFFF00
CASEELSE
    LOCALS = FF0000
ENDSELECT
;체력바 출력부
백분율 /= 10
RESULTS += @"<font color='#%LOCALS%'>[%"*" * 백분율%%"." * (10 - 백분율)%]</font>"
RETURN 1

@뉴탄막TSPBAR
#DIM 백분율
#DIM 체력
#DIM 최대체력
;ARG = 대상
VARSET RESULTS
;백분율 = (BASE:MASTER:마력 * 10)/MAXBASE:MASTER:마력
백분율 = BASEPERCENT(MASTER,"TSP")
;색깔 선정
SELECTCASE 백분율
CASE IS >= 7
    LOCALS = 19FF19
CASE IS >= 5
    LOCALS = FF8000
CASE IS >= 3
    LOCALS = FFFF00
CASEELSE
    LOCALS = FF0000
ENDSELECT
;체력바 출력부
백분율 /= 10
RESULTS += @"<font color='#%LOCALS%'>[%"*" * 백분율%%"." * (10 - 백분율)%]</font>"
RETURN 1

@능력치평가(ARG)
RESULTS =
;RESULTS += @"<font color='#'></font>"
IF ARG >= 300
    RESULTS += @"<font color='#FF1111'>P</font><font color='#1111FF'>h</font>"
ELSEIF ARG >= 250
    RESULTS += @"<font color='#FA58F4'>SSS</font>"
ELSEIF ARG >= 225
    RESULTS += @"<font color='#FA58F4'>SS+</font>"
ELSEIF ARG >= 200
    RESULTS += @"<font color='#FA58F4'>SS</font>"
ELSEIF ARG >= 180
    RESULTS += @"<font color='#FA58F4'>SS-</font>"
ELSEIF ARG >= 165
    RESULTS += @"<font color='#FA58F4'>S+</font>"
ELSEIF ARG >= 150
    RESULTS += @"<font color='#FF00FF'>S</font>"
ELSEIF ARG >= 135
    RESULTS += @"<font color='#8A0886'>S-</font>"
ELSEIF ARG >= 120
    RESULTS += @"<font color='#0000FF'>A</font>"
ELSEIF ARG >= 110
    RESULTS += @"<font color='#08088A'>A-</font>"
ELSEIF ARG >= 100
    RESULTS += @"<font color='#FA5858'>B+</font>"
ELSEIF ARG >= 90
    RESULTS += @"<font color='#FF0000'>B</font>"
ELSEIF ARG >= 83
    RESULTS += @"<font color='#F3F781'>C+</font>"
ELSEIF ARG >= 65
    RESULTS += @"<font color='#FFFF00'>C</font>"
ELSEIF ARG >= 55
    RESULTS += @"<font color='#AEB404'>C-</font>"
ELSEIF ARG >= 45
    RESULTS += @"<font color='#81DAF5'>D+</font>"
ELSEIF ARG >= 35
    RESULTS += @"<font color='#00BFFF'>D</font>"
ELSEIF ARG >= 25
    RESULTS += @"<font color='#086A87'>D-</font>"
ELSEIF ARG >= 15
    RESULTS += @"<font color='#00FF40'>E</font>"
ELSEIF ARG >= 0
    RESULTS += @"<font color='#848484'>F</font>"
ELSE
    RESULTS += @"<font color='#2E2E2E'>F-</font>"
ENDIF
RETURN 1

@상태이상표시(ARG)
#DIM CONST 최대길이 = 30
;ARG = 대상
;일단 자리만
VARSET LOCAL
VARSET LOCALS
VARSET RESULTS
;===========
IF TB_SUM_REMAIN(ARG,TCV_기절) > 0
    ; 0xFFD700
    ; [기절 {TB_SUM_REMAIN(ARG,TCV_기절)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FFD700'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_기절)/10}.{TB_MAX_REMAIN(ARG,TCV_기절)%10}초 동안 아무 행동도 취할 수 없습니다'>[기절]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
RESULTS += LOCALS
IF TB_SUM_REMAIN(ARG,TCV_집중) > 0
    ; 0xFFD700
    ; [집중 {TB_SUM_REMAIN(ARG,TCV_집중)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FFD700'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_집중)/10}.{TB_MAX_REMAIN(ARG,TCV_집중)%10}초 동안 정신을 집중해 다른 행동이 불가능합니다'>[집중]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_실명) > 0
    ; 0xA9A9A9
    ; [실명 {TB_SUM_REMAIN(ARG,TCV_실명)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#A9A9A9'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_실명)/10}.{TB_MAX_REMAIN(ARG,TCV_실명)%10}초 동안 눈이 멀어 공격의 적중률이 떨어집니다'>[실명]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_침묵) > 0
    ; 0x4B0082
    ; [침묵 {TB_SUM_REMAIN(ARG,TCV_침묵)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#4B0082'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_침묵)/10}.{TB_MAX_REMAIN(ARG,TCV_침묵)%10}초 동안 침묵내성 {TB_MAX_VALUE(ARG,TCV_침묵)} 이하의 스킬 시전이 불가능합니다'>[침묵]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_혼란) > 0
    ; 0xFFFF00
    ; [혼란 {TB_SUM_REMAIN(ARG,TCV_혼란)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FFFF00'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_혼란)/10}.{TB_MAX_REMAIN(ARG,TCV_혼란)%10}초 동안 행동을 취하려 할 때 때때로 실패합니다'>[혼란]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_속박) > 0
    ; 0xFFEE00
    ; [속박 {TB_SUM_REMAIN(ARG,TCV_속박)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FFEE00'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_속박)/10}.{TB_MAX_REMAIN(ARG,TCV_속박)%10}초 동안 걷는게 불가해 이동과 일부 스킬이 시전 불능이 됩니다'>[속박]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_봉쇄) > 0
    ; 0xFFEE00
    ; [봉쇄 {TB_SUM_REMAIN(ARG,TCV_봉쇄)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FFEE00'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_봉쇄)/10}.{TB_MAX_REMAIN(ARG,TCV_봉쇄)%10}초 동안 일부 스킬을 이용한 이동이 봉쇄됩니다'>[봉쇄]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_취약) > 0
    ; 0xFF4500
    ; [취약 {TB_SUM_VALUE(ARG,TCV_취약)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#FF4500'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_취약)/10}.{TB_MAX_REMAIN(ARG,TCV_취약)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_취약)}％만큼 받는 피해가 증가합니다'>[취약]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_힘) < 0
    ; 0xDC143C
    ; [힘 감소 {TB_SUM_VALUE(ARG,TCV_힘)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_힘)/10}.{TB_MAX_REMAIN(ARG,TCV_힘)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_힘)}만큼 힘이 감소합니다'>[힘－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_지성) < 0
    ; 0xDC143C
    ; [지성 감소 {TB_SUM_VALUE(ARG,TCV_지성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_지성)/10}.{TB_MAX_REMAIN(ARG,TCV_지성)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_지성)}만큼 지성이 감소합니다'>[지성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_속도) < 0
    ; 0xDC143C
    ; [속도 감소 {TB_SUM_VALUE(ARG,TCV_속도)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_인내)/10}.{TB_MAX_REMAIN(ARG,TCV_인내)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_인내)}만큼 인내가 감소합니다'>[인내－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_인내) < 0
    ; 0xDC143C
    ; [인내 감소 {TB_SUM_VALUE(ARG,TCV_인내)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_속도)/10}.{TB_MAX_REMAIN(ARG,TCV_속도)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_속도)}만큼 속도가 감소합니다'>[속도－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_운) < 0
    ; 0xDC143C
    ; [운 감소 {TB_SUM_VALUE(ARG,TCV_운)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_운)/10}.{TB_MAX_REMAIN(ARG,TCV_운)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_운)}만큼 운이 감소합니다'>[운－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_독) > 0
    ; 0x006400
    ; [독 x{TB_SUM_VALUE(ARG,TCV_독)}/{TB_SUM_REMAIN(ARG,TCV_독)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#006400'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_독)/10}.{TB_MAX_REMAIN(ARG,TCV_독)%10}초 동안 매 초 {TB_SUM_VALUE(ARG,TCV_독) * 50}의 피해를 입습니다'>[독]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_출혈) > 0
    ; 0x8B0000
    ; [출혈 x{TB_SUM_VALUE(ARG,TCV_출혈)}/{TB_SUM_REMAIN(ARG,TCV_출혈)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#8B0000'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_출혈)/10}.{TB_MAX_REMAIN(ARG,TCV_출혈)%10}초 동안 매 초 최대체력의 {TB_SUM_VALUE(ARG,TCV_출혈) * 125 / 10}.{TB_SUM_VALUE(ARG,TCV_출혈) * 125 % 10}％의 피해를 입습니다'>[출혈]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_저주) > 0
    ; 0xFF0000
    ; [저주 {TB_SUM_REMAIN(ARG,TCV_저주)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FF0000'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_저주)/10}.{TB_MAX_REMAIN(ARG,TCV_저주)%10}초후 죽습니다(플레이어 이외는 현재체력의 50％ 이하의 피해로 변경)'>[저주]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_화상) > 0
    ; 0xFB1111
    ; [화상 {TB_SUM_VALUE(ARG,TCV_화상)}/턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#FB1111'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_화상)/10}.{TB_MAX_REMAIN(ARG,TCV_화상)%10}초 동안 매 초 {TB_SUM_VALUE(ARG,TCV_화상)}의 화염피해를 입습니다'>[화상]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_재생) > 0
    ; 0x00BB00
    ; [재생 {TB_SUM_VALUE(ARG,TCV_재생)}/턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#00BB00'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_재생)/10}.{TB_MAX_REMAIN(ARG,TCV_재생)%10}초 동안 매 초 {TB_SUM_VALUE(ARG,TCV_재생)}만큼 체력을 회복합니다'>[재생]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_면역) > 0
    ; 0x00FFFF
    ; [면역 {TB_SUM_REMAIN(ARG,TCV_면역)}턴] 
    VARSET LOCALS
    LOCALS += @"<font color='#00FFFF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_면역)/10}.{TB_MAX_REMAIN(ARG,TCV_면역)%10}초 동안 모든 피해를 받지 않습니다'>[면역]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_회피) > 0
    ; 0x005858
    ; [회피 {TB_SUM_VALUE(ARG,TCV_회피)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#005858'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_회피)/10}.{TB_MAX_REMAIN(ARG,TCV_회피)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_회피)}％만큼 받는 피해량이 감소합니다'>[회피]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_REMAIN(ARG,TCV_증폭) > 0
    ; 0x58FF58
    ; [증폭 {TB_SUM_VALUE(ARG,TCV_증폭)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#58FF58'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_증폭)/10}.{TB_MAX_REMAIN(ARG,TCV_증폭)%10}초 동안 가하는 피해량이 {TB_SUM_VALUE(ARG,TCV_증폭)}％ 증가합니다'>[증폭]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_힘) > 0
    ; 0x11FF11
    ; [힘 증가 {TB_SUM_VALUE(ARG,TCV_힘)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#11FF11'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_힘)/10}.{TB_MAX_REMAIN(ARG,TCV_힘)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_힘)}만큼 힘이 증가합니다'>[힘＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_지성) > 0
    ; 0x11FF11
    ; [지성 증가 {TB_SUM_VALUE(ARG,TCV_지성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#11FF11'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_지성)/10}.{TB_MAX_REMAIN(ARG,TCV_지성)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_지성)}만큼 지성이 증가합니다'>[지성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_속도) > 0
    ; 0x11FF11
    ; [속도 증가 {TB_SUM_VALUE(ARG,TCV_속도)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#11FF11'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_속도)/10}.{TB_MAX_REMAIN(ARG,TCV_속도)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_속도)}만큼 속도가 증가합니다'>[속도＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_인내) > 0
    ; 0x11FF11
    ; [인내 증가 {TB_SUM_VALUE(ARG,TCV_인내)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#11FF11'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_인내)/10}.{TB_MAX_REMAIN(ARG,TCV_인내)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_인내)}만큼 인내가 증가합니다'>[인내＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_운) > 0
    ; 0x11FF11
    ; [운 증가 {TB_SUM_VALUE(ARG,TCV_운)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#11FF11'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_운)/10}.{TB_MAX_REMAIN(ARG,TCV_운)%10}초 동안 {TB_SUM_VALUE(ARG,TCV_운)}만큼 운이 증가합니다'>[운＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_물리내성) < 0
    ; 0xDC143C
    ; [물리내성 감소 {TB_SUM_VALUE(ARG,TCV_물리내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_물리내성)/10}.{TB_MAX_REMAIN(ARG,TCV_물리내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_물리내성)}만큼 감소합니다'>[물리내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_화염내성) < 0
    ; 0xDC143C
    ; [화염내성 감소 {TB_SUM_VALUE(ARG,TCV_화염내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_화염내성)/10}.{TB_MAX_REMAIN(ARG,TCV_화염내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_화염내성)}만큼 감소합니다'>[화염내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_빙결내성) < 0
    ; 0xDC143C
    ; [빙결내성 감소 {TB_SUM_VALUE(ARG,TCV_빙결내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_빙결내성)/10}.{TB_MAX_REMAIN(ARG,TCV_빙결내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_빙결내성)}만큼 감소합니다'>[빙결내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_전격내성) < 0
    ; 0xDC143C
    ; [전격내성 감소 {TB_SUM_VALUE(ARG,TCV_전격내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_전격내성)/10}.{TB_MAX_REMAIN(ARG,TCV_전격내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_전격내성)}만큼 감소합니다'>[전격내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_질풍내성) < 0
    ; 0xDC143C
    ; [질풍내성 감소 {TB_SUM_VALUE(ARG,TCV_질풍내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_질풍내성)/10}.{TB_MAX_REMAIN(ARG,TCV_질풍내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_질풍내성)}만큼 감소합니다'>[질풍내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_마력내성) < 0
    ; 0xDC143C
    ; [마력내성 감소 {TB_SUM_VALUE(ARG,TCV_마력내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_마력내성)/10}.{TB_MAX_REMAIN(ARG,TCV_마력내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_마력내성)}만큼 감소합니다'>[마력내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_수격내성) < 0
    ; 0xDC143C
    ; [수격내성 감소 {TB_SUM_VALUE(ARG,TCV_수격내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_수격내성)/10}.{TB_MAX_REMAIN(ARG,TCV_수격내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_수격내성)}만큼 감소합니다'>[수격내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_정신내성) < 0
    ; 0xDC143C
    ; [정신내성 감소 {TB_SUM_VALUE(ARG,TCV_정신내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#DC143C'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_정신내성)/10}.{TB_MAX_REMAIN(ARG,TCV_정신내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_정신내성)}만큼 감소합니다'>[정신내성－]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_물리내성) > 0
    ; 0x3232CF
    ; [물리내성 증가 {TB_SUM_VALUE(ARG,TCV_물리내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_물리내성)/10}.{TB_MAX_REMAIN(ARG,TCV_물리내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_물리내성)}만큼 증가합니다'>[물리내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_화염내성) > 0
    ; 0x3232CF
    ; [화염내성 증가 {TB_SUM_VALUE(ARG,TCV_화염내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_화염내성)/10}.{TB_MAX_REMAIN(ARG,TCV_화염내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_화염내성)}만큼 증가합니다'>[화염내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_빙결내성) > 0
    ; 0x3232CF
    ; [빙결내성 증가 {TB_SUM_VALUE(ARG,TCV_빙결내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_빙결내성)/10}.{TB_MAX_REMAIN(ARG,TCV_빙결내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_빙결내성)}만큼 증가합니다'>[빙결내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_전격내성) > 0
    ; 0x3232CF
    ; [전격내성 증가 {TB_SUM_VALUE(ARG,TCV_전격내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_전격내성)/10}.{TB_MAX_REMAIN(ARG,TCV_전격내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_전격내성)}만큼 증가합니다'>[전격내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_질풍내성) > 0
    ; 0x3232CF
    ; [질풍내성 증가 {TB_SUM_VALUE(ARG,TCV_질풍내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_질풍내성)/10}.{TB_MAX_REMAIN(ARG,TCV_질풍내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_질풍내성)}만큼 증가합니다'>[질풍내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_마력내성) > 0
    ; 0x3232CF
    ; [마력내성 증가 {TB_SUM_VALUE(ARG,TCV_마력내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_마력내성)/10}.{TB_MAX_REMAIN(ARG,TCV_마력내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_마력내성)}만큼 증가합니다'>[마력내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_수격내성) > 0
    ; 0x3232CF
    ; [수격내성 증가 {TB_SUM_VALUE(ARG,TCV_수격내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_수격내성)/10}.{TB_MAX_REMAIN(ARG,TCV_수격내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_수격내성)}만큼 증가합니다'>[수격내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_SUM_VALUE(ARG,TCV_정신내성) > 0
    ; 0x3232CF
    ; [정신내성 증가 {TB_SUM_VALUE(ARG,TCV_정신내성)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#3232CF'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_정신내성)/10}.{TB_MAX_REMAIN(ARG,TCV_정신내성)%10}초 동안 내성이 {TB_SUM_VALUE(ARG,TCV_정신내성)}만큼 증가합니다'>[정신내성＋]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
IF TB_MAX_VALUE(ARG,TCV_은신) > 0
    ; 0xE0E0E0
    ; [은신 {TB_MAX_VALUE(ARG,TCV_은신)}] 
    VARSET LOCALS
    LOCALS += @"<font color='#E0E0E0'><button value='1234' title='{TB_MAX_REMAIN(ARG,TCV_은신/10)}.{TB_MAX_REMAIN(ARG,TCV_은신)%10}초 동안 {TB_MAX_VALUE(ARG,TCV_은신)}레벨의 은신효과를 얻습니다'>[은신]</button></font>"
ENDIF
LOCAL += STRLENS(HTML_TOPLAINTEXT(LOCALS))
IF LOCAL >= 최대길이
    LOCAL = STRLENS(HTML_TOPLAINTEXT(LOCALS))
    RESULTS += "<SPRIT>"
ENDIF
RESULTS += LOCALS
VARSET LOCALS
;===========
RETURN 1

;TextbungStatus
@TBS거리표시
PRINTFORML [{T_위치:T_대상1:0,3},{T_위치:T_대상1:1,3},{T_위치:T_대상1:2,3}][나:{ARG능력치(T_대상1,"이동력"),3}m/s] [거리 : {TB_거리_은신()}m] [{T_TIME/10}.{T_TIME%10}초] [고도차:{T_위치:T_대상1:2 - T_위치:T_대상2:2}m] [적:{ARG능력치(T_대상2,"이동력"),3}m/s][{T_위치:T_대상2:0,3},{T_위치:T_대상2:1,3},{T_위치:T_대상2:2,3}]

@TBS_스탯표시(ARG,ARGS)
VARSET RESULTS
VARSET LOCALS
SELECTCASE ARGS
    CASE "레벨"
        LOCALS += @"레벨:{ABL:ARG:레벨,4,RIGHT}     "
    CASE "힘"
        CALL 능력치평가(TCVAR:ARG:T_힘)
        IF TB_SUM_VALUE(ARG,TCV_힘) > 0
            LOCALS += @"  힘:<font color='#11ff11'>{TCVAR:ARG:T_힘,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSEIF TB_SUM_VALUE(ARG,TCV_힘) < 0
            LOCALS += @"  힘:<font color='#ff0000'>{TCVAR:ARG:T_힘,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSE
            LOCALS += @"  힘:{TCVAR:ARG:T_힘,4,RIGHT}%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ENDIF
    CASE "지성"
        CALL 능력치평가(TCVAR:ARG:T_지성)
        IF TB_SUM_VALUE(ARG,TCV_지성) > 0
            LOCALS += @"지성:<font color='#11ff11'>{TCVAR:ARG:T_지성,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSEIF TB_SUM_VALUE(ARG,TCV_지성) < 0
            LOCALS += @"지성:<font color='#ff0000'>{TCVAR:ARG:T_지성,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSE
            LOCALS += @"지성:{TCVAR:ARG:T_지성,4,RIGHT}%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ENDIF
    CASE "인내"
        CALL 능력치평가(TCVAR:ARG:T_인내)
        IF TB_SUM_VALUE(ARG,TCV_인내) > 0
            LOCALS += @"인내:<font color='#11ff11'>{TCVAR:ARG:T_인내,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSEIF TB_SUM_VALUE(ARG,TCV_인내) < 0
            LOCALS += @"인내:<font color='#ff0000'>{TCVAR:ARG:T_인내,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSE
            LOCALS += @"인내:{TCVAR:ARG:T_인내,4,RIGHT}%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ENDIF
    CASE "속도"
        CALL 능력치평가(TCVAR:ARG:T_속도)
        IF TB_SUM_VALUE(ARG,TCV_속도) > 0
            LOCALS += @"속도:<font color='#11ff11'>{TCVAR:ARG:T_속도,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSEIF TB_SUM_VALUE(ARG,TCV_속도) < 0
            LOCALS += @"속도:<font color='#ff0000'>{TCVAR:ARG:T_속도,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSE
            LOCALS += @"속도:{TCVAR:ARG:T_속도,4,RIGHT}%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ENDIF
    CASE "운"
        CALL 능력치평가(TCVAR:ARG:T_운)
        IF TB_SUM_VALUE(ARG,TCV_운) > 0
            LOCALS += @"  운:<font color='#11ff11'>{TCVAR:ARG:T_운,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSEIF TB_SUM_VALUE(ARG,TCV_운) < 0
            LOCALS += @"  운:<font color='#ff0000'>{TCVAR:ARG:T_운,4,RIGHT}</font>%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ELSE
            LOCALS += @"  운:{TCVAR:ARG:T_운,4,RIGHT}%" " * (5 - STRLENS(HTML_TOPLAINTEXT(RESULTS)))%%RESULTS%"
        ENDIF
ENDSELECT
RESULTS = %LOCALS%
RETURN 1

@TBS_전투능력배수(ARG)
#FUNCTIONS
SELECTCASE ARG
    CASE 0
        RESULTS '= " x1.0"
    CASE 1
        RESULTS '= " x1.3"
    CASE 2
        RESULTS '= " x1.6"
    CASE 3
        RESULTS '= " x1.9"
    CASE 4
        RESULTS '= " x2.2"
    CASE 5
        RESULTS '= " x2.5"
    CASE 6
        RESULTS '= " x2.7"
    CASE 7
        RESULTS '= " x2.9"
    CASE 8
        RESULTS '= " x3.0"
    CASE 9
        RESULTS '= " x3.1"
    CASE 10
        RESULTS '= " x3.2"
    CASE 11
        RESULTS '= " x3.3"
    CASE 12
        RESULTS '= " x3.4"
    CASE 13
        RESULTS '= " x3.5"
    CASE 14
        RESULTS '= " x3.6"
    CASE 15
        RESULTS '= " x3.7"
    CASE 16
        RESULTS '= " x3.8"
    CASE 17
        RESULTS '= " x3.9"
    CASE 18
        RESULTS '= " x4.0"
    CASE 19
        RESULTS '= " x4.1"
    CASEELSE
        RESULTS '= " x4.5"
ENDSELECT
RETURNF RESULTS

@TBS위치관계표시(X1,Y1,X2,Y2,칸당값)
#DIM CONST 양옆공백 = 30
#DIM DYNAMIC 칸당값
#DIM DYNAMIC 이미표시,3
#DIM DYNAMIC 위험지역,1000,5 ;OBJ 번호, X,Y,Z,표시범위
#DIM DYNAMIC 위험지역카운터
#DIMS DYNAMIC 프린터버퍼
#DIMS DYNAMIC 투사체버퍼
#DIM DYNAMIC 투사체개수
#DIM DYNAMIC X1
#DIM DYNAMIC Y1
#DIM DYNAMIC X2
#DIM DYNAMIC Y2
#DIMS DYNAMIC 버프상태1,40
#DIMS DYNAMIC 버프상태2,40
#DIM DYNAMIC 좌표1,3
#DIM DYNAMIC 좌표2,3
VARSET 위험지역, -1
FOR LOCAL,0,T_OBJ_MAX
    IF T_OBJ:0:LOCAL != -1
        위험지역:위험지역카운터:0 = LOCAL
        위험지역:위험지역카운터:1 = T_OBJ:08:LOCAL
        위험지역:위험지역카운터:2 = T_OBJ:09:LOCAL
        위험지역:위험지역카운터:3 = T_OBJ:10:LOCAL
        위험지역:위험지역카운터:4 = T_OBJ:07:LOCAL
        위험지역카운터++
    ENDIF
NEXT
VARSET 버프상태1
VARSET 버프상태2
VARSET RESULTS
CALL 상태이상표시(T_대상1)
SPLIT RESULTS, "<SPRIT>", 버프상태1
CALL 상태이상표시(T_대상2)
SPLIT RESULTS, "<SPRIT>", 버프상태2
좌표2:0 = T_위치:MASTER:0
좌표2:1 = T_위치:MASTER:1
좌표2:2 = 0
VARSET LOCAL
LOCAL:4 = -1

FOR LOCAL:1, Y1, Y2
    ;Y축
    VARSET 프린터버퍼
    VARSET LOCALS
    LOCAL:4++
    SELECTCASE LOCAL:4
        CASE 0
            ;프린터버퍼 += @"%\"[\" + CALLNAME:MASTER+ \"]\",18,LEFT%"
            LOCALS:1 = [%CALLNAME:MASTER%]
            LOCALS += @"%LOCALS:1,18,LEFT%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
            LOCALS =
        CASE 1
            LOCALS += "체："
            CALL 뉴탄막체력BAR(MASTER)
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 2
            LOCALS +=  @"({TCVAR:MASTER:T_체력}／{TCVAR:MASTER:T_최대체력})"
            IF TB_SUM_VALUE(MASTER,TCV_보호)
                LOCALS += @"<font color ='#46FFFF'>+({TB_SUM_VALUE(MASTER,TCV_보호),6})</font>"
            ENDIF
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 3
            LOCALS += "마："
            CALL 뉴탄막TSPBAR
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 4
            LOCALS += @"({BASE:MASTER:마력}／{MAXBASE:MASTER:마력})"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 5
            CALL TBS_스탯표시(MASTER,"레벨")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(MASTER,"힘")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 6
            CALL TBS_스탯표시(MASTER,"지성")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(MASTER,"인내")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 7
            CALL TBS_스탯표시(MASTER,"속도")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(MASTER,"운")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 8
            LOCALS += @"전투능력:{ABL:MASTER:전투능력,3}<i>%TBS_전투능력배수(ABL:MASTER:전투능력)%</i>"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 9
            LOCALS += @"공격력:{TCVAR:MASTER:T_공격력,8,RIGHT}"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 10
            LOCALS += @"방어력:{TCVAR:MASTER:T_방어력,8,RIGHT}"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 11
            LOCALS += 버프상태1:0
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 12
            LOCALS += 버프상태1:1
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 13
            LOCALS += 버프상태1:2
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 14
            LOCALS += 버프상태1:3
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE Y2 - Y1 - 1
            LOCALS += @"<button value='{TCN_축척변경}'>[축척변경]</button> 현재 1:{TB_축척}"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASEELSE
            ;PRINTFORM %"　" * ((GETCONFIG("ウィンドウ幅") / (GETCONFIG("フォントサイズ")/2) - 130)/2)%
            LOCALS = %" " * 양옆공백%
            프린터버퍼 += @"%LOCALS%"
    ENDSELECT
    프린터버퍼 += " │"
    FOR LOCAL:0, X1, X2
        ;X축
        VARSET 투사체버퍼
        VARSET 투사체개수
        IF !INRANGE(LOCAL:0,0,TB_위치값한계) || !INRANGE(LOCAL:1,0,TB_위치값한계) 
            프린터버퍼 += @"<font color='#FFFFFF'><button value='{9}' title='맵 바깥입니다'>※</button></font>"
        ELSEIF 대상좌표(T_대상1,LOCAL:0 * 칸당값 ,LOCAL:1 * 칸당값,-1,칸당값) && 대상좌표(T_대상2,LOCAL:0 * 칸당값,LOCAL:1 * 칸당값,-1,칸당값) && 이미표시:0 != 1 && 이미표시:1 != 1
            프린터버퍼 += @"<font color='#F0F0F0'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}' title='%좌표유닛확인(LOCAL:0 * 칸당값,LOCAL:1 * 칸당값,-1,5)%'>@</button></font>"
            이미표시:0 = 1
            이미표시:1 = 1
        ELSEIF 대상좌표(T_대상1,LOCAL:0 * 칸당값,LOCAL:1 * 칸당값,-1,칸당값) && 이미표시:0 != 1
            프린터버퍼 += @"<font color='#F0F000'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}' title='%CALLNAME:T_대상1%'>나</button></font>"
            이미표시:0 = 1
        ELSEIF 대상좌표(T_대상2,LOCAL:0 * 칸당값,LOCAL:1 * 칸당값,-1,칸당값) && 이미표시:1 != 1
            프린터버퍼 += @"<font color='#F02222'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}' title='%CALLNAME:T_대상2%'>적</button></font>"
            이미표시:1 = 1
        ELSE
            FOR LOCAL:2,0,T_OBJ_MAX
                SIF 위험지역:(LOCAL:2):0 == -1
                    CONTINUE
                FOR LOCAL:3,0,칸당값
                    IF 좌표비교((LOCAL:0 * 칸당값) + LOCAL:3, (LOCAL:1 * 칸당값) + LOCAL:3, T_위치:T_대상1:2 + LOCAL:3, 위험지역:(LOCAL:2):1, 위험지역:(LOCAL:2):2, 위험지역:(LOCAL:2):3, 위험지역:(LOCAL:2):4) && 이미표시:2 != 1
                        DEBUGPRINTFORML 좌표: {(LOCAL:0 * 칸당값) + LOCAL:3},{(LOCAL:1 * 칸당값) + LOCAL:3},{T_위치:T_대상1:2 + LOCAL:3}이 위험구역({위험지역:(LOCAL:2):1},{위험지역:(LOCAL:2):2},{위험지역:(LOCAL:2):3},범위{위험지역:(LOCAL:2):4})에 포함되어 표기됨
                        CALLFORMF T_SKILL{T_OBJ:0:(위험지역:(LOCAL:2):0)}_STR("스킬명")
                        투사체버퍼 += @"%CALLNAME:(T_OBJ:2:(위험지역:(LOCAL:2):0))%의 %RESULTS%&#10;"
                        LOCAL:9 = 위험지역:(LOCAL:2):0
                        투사체개수++
                        BREAK
                    ENDIF
                NEXT
            NEXT
            IF 투사체개수 == 1
                프린터버퍼 += @"<font color='#%CONVERT(T_OBJ:6:(LOCAL:9),16)%'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}' title='[투사체]&#10;%투사체버퍼%'>■</button></font>"
            ELSEIF 투사체개수 != 0
                프린터버퍼 += @"<font color='#FFFFFF'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}' title='[투사체]&#10;%투사체버퍼%'>■</button></font>"
            ENDIF
            IF !투사체개수
                좌표1:0 = LOCAL:0
                좌표1:1 = LOCAL:1
                좌표1:2 = 0
                
                IF T_RANGE(좌표1,좌표2) <= ARG능력치(T_대상1,"이동력")
                    프린터버퍼 += @"<font color = '#1e81b0'><button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}'title='현재 이동력으로 1턴 안에 도달 가능한 지점입니다'>. </button></font>"
                ELSE
                    프린터버퍼 += @"<button value='{TB_MAPTOINT(LOCAL:0*칸당값,LOCAL:1*칸당값,0)}'>. </button>"
                ENDIF
            ENDIF
        ENDIF
    NEXT
    프린터버퍼 += "│ "
    VARSET LOCALS
    SELECTCASE LOCAL:4
        CASE 0
            LOCALS:1 = [%CALLNAME:TARGET%]
            LOCALS += @"%LOCALS:1,18,LEFT%"
            프린터버퍼 += @"%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%%LOCALS%"
        CASE 1
            LOCALS += "체："
            CALL 뉴탄막체력BAR(TARGET)
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 2
            LOCALS += @"({TCVAR:TARGET:T_체력}／{TCVAR:TARGET:T_최대체력})"
            IF TB_SUM_VALUE(TARGET,TCV_보호)
                LOCALS += @"<font color ='#46FFFF'>+({TB_SUM_VALUE(TARGET,TCV_보호),6})</font>"
            ENDIF
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 3
            LOCALS = %"　" * 8%
            프린터버퍼 += @"%LOCALS%"
            ;PRINT 마:
            ;CALL 뉴탄막TSPBAR
        CASE 4
            LOCALS = %"　" * 8%
            프린터버퍼 += @"%LOCALS%"
        CASE 5
            CALL TBS_스탯표시(TARGET,"레벨")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(TARGET,"힘")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 6
            CALL TBS_스탯표시(TARGET,"지성")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(TARGET,"인내")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 7
            CALL TBS_스탯표시(TARGET,"속도")
            LOCALS += @"%RESULTS%"
            CALL TBS_스탯표시(TARGET,"운")
            LOCALS += @"%RESULTS%"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 8
            LOCALS += @"전투능력:{ABL:TARGET:전투능력,3}<i>%TBS_전투능력배수(ABL:TARGET:전투능력)%</i>"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 9
            LOCALS += @"공격력:{TCVAR:TARGET:T_공격력,8,RIGHT}"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 10
            LOCALS += @"방어력:{TCVAR:TARGET:T_방어력,8,RIGHT}"
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 11
            LOCALS += 버프상태2:0
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 12
            LOCALS += 버프상태2:1
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 13
            LOCALS += 버프상태2:2
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASE 14
            LOCALS += 버프상태2:3
            프린터버퍼 += @"%LOCALS%%" "*(양옆공백 - STRLENS(HTML_TOPLAINTEXT(LOCALS)))%"
        CASEELSE
            ;PRINTFORM %"　" * ((GETCONFIG("ウィンドウ幅") / (GETCONFIG("フォントサイズ")/2) - 130)/2)%
            LOCALS = %" " * 양옆공백%
            프린터버퍼 += @"%LOCALS%"
    ENDSELECT
    HTML_PRINT 프린터버퍼
    ;PRINTL 
NEXT


;ARG:0 = X 
;ARG:1 = Y
;ARG:2 = Z
;ARG:3 = 탐색범위
@좌표유닛확인(ARG,ARG:1,ARG:2,ARG:3)
#FUNCTIONS
VARSET RESULTS
FOR LOCAL,0,CHARANUM
    IF (ABS(T_위치:LOCAL:0 - ARG ) <= ARG:3 || ARG == -1) && (ABS(T_위치:LOCAL:1 - ARG:1 ) || ARG:1 == -1) <= ARG:3 && (ABS(T_위치:LOCAL:2 - ARG:2) <= ARG:3 || ARG:2 == -1)
        RESULTS += @"%CALLNAME:LOCAL%<br/>"
    ENDIF
NEXT
RETURNF RESULTS


;ARG:0 = 대상
;ARG:1 = X좌표
;ARG:2 = Y좌표
;ARG:3 = Z좌표
;ARG:4 = 범위
;좌표에 -1를 넣으면 그 값은 무시
@대상좌표(ARG,ARG:1,ARG:2,ARG:3,ARG:4)
#FUNCTION
IF ABS(T_위치:ARG:0 - ARG:1) <= ARG:4 || ARG:1 == -1
    IF ABS(T_위치:ARG:1 - ARG:2) <= ARG:4 || ARG:2 == -1
        IF ABS(T_위치:ARG:2 - ARG:3) <= ARG:4 || ARG:3 == -1
            RETURNF 1 
        ENDIF
    ENDIF
ENDIF
RETURNF 0

;ARG:0 = 1X
;ARG:1 = 2Y
;ARG:2 = 3Z
;ARG:3 = 1X
;ARG:4 = 2Y
;ARG:5 = 3Z
;ARG:6 = 범위
;좌표에 -1를 넣으면 그 값은 무시
@좌표비교(ARG:0,ARG:1,ARG:2,ARG:3,ARG:4,ARG:5,ARG:6)
#FUNCTION
IF (INRANGE(ARG:0,ARG:3-ARG:6,ARG:3+ARG:6) || ARG:3 == -1) && (INRANGE(ARG:1,ARG:4-ARG:6,ARG:4+ARG:6) || ARG:4 == -1) && (INRANGE(ARG:2,ARG:5-ARG:6,ARG:5+ARG:6) || ARG:5 == -1)
    RETURNF 1
ENDIF
RETURNF 0

@TB_MAPTOINT(ARG,ARG:1,ARG:2)
#FUNCTION
RETURNF 1000000 + (ARG * 1000000)+(ARG:1 *1000)+(ARG:3)

@TB_LOCATETOINT(좌표)
#FUNCTION
#DIM REF 좌표,0 
RETURNF 1000000 + (좌표:0 * 1000000)+(좌표:1 *1000)+(좌표:2)

@TB_INTTOMAP(ARG)
ARG -= 1000000
RESULT:2 = ARG / 1000000
RESULT:1 = (ARG % 1000000) / 1000
RESULT:0 = ARG % 1000
RETURN RESULT:0

@TB_INTTOLOCATE(ARG,좌표)
#DIM REF 좌표,0
ARG -= 1000000
좌표:0 = TB_RETURN_X(ARG)
좌표:1 = TB_RETURN_Y(ARG)
좌표:2 = TB_RETURN_Z(ARG)
RETURN 1

;INT 좌표를 LOCATE 형식으로 변환해주는 함수들
;INTTOLOCATE같은건 식중함수에서 못쓰니까...
@TB_RETURN_X(ARG)
#FUNCTION
ARG -= 1000000
RETURNF ARG / 1000000

@TB_RETURN_Y(ARG)
#FUNCTION
ARG -= 1000000
RETURNF (ARG % 1000000) / 1000

@TB_RETURN_Z(ARG)
#FUNCTION
ARG -= 1000000
RETURNF ARG % 1000